@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Georgia";
    src: url("/fonts/georgia.woff") format("woff");
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-georgia: "Georgia", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    width: 100%;
    background-color: rgb(4, 55, 75);
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #2d6aa7 0%,
            #11283f 50%,
            transparent 100%
    );
}


@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed top-0 left-0 right-0 z-10 bg-[#2d6aa7];

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-georgia text-3xl -mb-2;
        }

        a {
            @apply font-georgia cursor-pointer text-nowrap md:text-[20px] text-sm text-white hover:text-amber-300 ;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;
        }
    }

    #hero {
        @apply relative inset-0 size-full bg-[#11283f];

        h1 {
            @apply text-4xl md:text-[5vw] leading-none font-georgia;
        }

        p {
            @apply md:text-[20px] font-georgia; 
        }    

    }

}
